@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/buttons";
@import "components/card";
@import "components/image-cluster";
@import "components/faculty-box";
@import "components/popup";
@import "components/enroll-elements";
@import "components/flash-news";
@import "components/gallery";

@import "layout/footer";
@import "layout/grids";
@import "layout/header";

@import "pages/home";

// GLIDE.JS
// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
