.footer{
    background-color: $color-dark-grey-2;
    font-size: 1.4rem;
    padding: 10rem 0rem;

    @include respond(bp-8){
        padding: 5rem 0rem;
    }

    @include respond(bp-7){
        padding: 13rem 0rem 5rem 0rem;
        margin-top: -5rem;
    }

    @include respond(bp-6){
        padding: 13rem 0rem 5rem 0rem;
    }

    @media only screen and (max-width:22.5em) {
        padding: 10rem 0rem 5rem 0rem;
    }


    &__main{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;

        @media only screen and (max-width:60em){
            flex-direction: column;
            align-items: center;
        }
    }

    

    &__map-box{
        display: flex;
        margin: 5rem;
        padding: 1rem 0;

        @media only screen and (min-width:81.25em) and (max-width:85.375em) {
           margin: 5rem 3rem;
        }

        @include respond(bp-11){
            margin: 3rem;
        }

        @media only screen and (max-width:60em){
            margin: 2rem;
        }

        @include respond(bp-7){
            margin: 1rem;
        }
    }

    &__map{
        @media only screen and (max-width:60em){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }


    &__contents{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media only screen and (min-width:81.25em) and (max-width:85.375em){
            justify-content: space-evenly;
            margin-top: -5rem;
        }

        @include respond(bp-11) {
           margin: 0 2rem;
           justify-content: space-evenly;
           margin-top: -9rem;
        }

        @include respond(bp-10) {
           margin: 0 2rem;
           margin-top: -4rem;
        }

        @media only screen and (max-width:60em){
            flex-direction: row;
            margin: 0 5rem;
        }

        @include respond(bp-5) {
            margin: 0 1rem;
        }

        @media only screen and (max-width:25.880em) {
            flex-direction: column;
            align-items: center;
        }


        @media only screen and (max-width:22.5em) {
            flex-direction: column;
            align-items: center;
        }

    }

    &__contact{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    &__navigation{
        border-top: 1px solid $color-dark-grey-1;
        padding-top: 2rem;
        display: block; 
        margin: 0 15rem;

        @media only screen and (min-width:81.25em) and (max-width:85.375em) {
            margin: 1rem;
            padding-top: 1rem;
        }

        @include respond(bp-11){
            margin: 0;
            padding-top: 0;
        }

        @media only screen and (max-width:60em) {
            width: 50vw;
        }

        @include respond(bp-6){
            margin: 1rem;
        }

       @media only screen and (max-width:25.880em) {
            width: 90vw;
        }


        @media only screen and (max-width:22.5em) {
            width: 90vw;
        }

    }

    &__list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    &__items{
        list-style: none;
        font-size: 1.7rem;
        margin: 1rem 0;
        color: $color-light-grey;
        
        @media only screen and (min-width:81.25em) and (max-width:85.375em) {
           font-size: 1.5rem;
        }

        @include respond(bp-11){
            font-size: 1.5rem;
            margin: 0.5rem 0;
        }

        @include respond(bp-7){
            font-size:1.2rem;
        }

        @media only screen and (max-width:25.880em) {
            font-size: 1.3rem;
        }

        @media only screen and (max-width:22.5em) {
            font-size: 1rem;
        }

    }

    &__link{

        &:link,
        &:visited {
            color: $color-light-grey;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
            background-color: $color-dark-grey-2;
            font-size: 1.8rem;

        }

        &:hover,
        &:active {
            color: $color-secondary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.3);
        }

    }

    &__copyright{

      
        &--data{
            font-size: 1.7rem;
            border-top: 1px solid $color-dark-grey-1;
            padding-top: 2rem;
            color: $color-light-grey;
            letter-spacing: 1px;
            margin: 0rem 15rem;
            text-align: justify;

            @media only screen and (min-width:81.25em) and (max-width:85.375em) {
                margin: 1rem;
                font-size: 1.4rem;
                padding-top: 1rem;
            }
           
            @include respond(bp-11){
                margin: 0;
                padding: 0;
                font-size: 1.5rem;
            }

            @include respond(bp-7) {
                font-size: 1.1rem;
            }

            @include respond(bp-6) {
                margin: 1rem;
                letter-spacing: 0.5px;
            }

            @include respond(bp-5) {
                letter-spacing: 0px;
            }

            @media only screen and (max-width:25.880em) {
                font-size: 1.3rem;
            }

            @media only screen and (max-width:22.5em) {
                font-size: 1rem;
            }

        }
    }

    &__location-name{
        display: block;
        text-align: center;
    }

    &__locn-name{
        font-size: 2.5rem;

        @include respond(bp-6){
            font-size: 2rem !important;
        }

        @include respond(bp-6) {
            font-size: 1.5rem !important;
        }

        @media only screen and (max-width:25.880em) {
            font-size: 1.5rem!important;
        }

        @media only screen and (max-width:22.5em) {
            font-size: 1.3rem!important;
        }
    }

    &__siesgst-map {
        @include respond(bp-11) {
            margin: 1rem;
            width: 600px !important;
            height: 500px !important;
        }

        @include respond(bp-9) {
            width: 650px !important;
            height: 400px !important;
        }

        @include respond(bp-6) {
            width: 550px !important;
            height: 400px !important;
        }

        @include respond(bp-5) {
            width: 450px !important;
            height: 400px !important;
        }

        @media only screen and (max-width:25.880em) {
            width: 350px !important;
            height: 300px !important;
        }


        @media only screen and (max-width:22.5em) {
            width: 300px !important;
            height: 300px !important;
        }
    }

}

