 .flash-news-box{
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: center;
     padding: 1.5rem;

     &__updates{
         display: flex;
         justify-content: center;
         flex-direction: column;
         align-content: center;
         width: 50vw;

         @include respond(bp-11){
             width: 100%;
         }

         &__marquee {
             height: 40vh;
             text-align: center;
             display: flex;
             flex-direction: column;
         }

         &__flash-text {
             cursor: pointer;
             color: $color-light-grey;
             font-weight: 500;
             font-size: 2.6rem;
             letter-spacing: 2px;
             text-decoration: none;
             text-transform: uppercase;

             @include respond(bp-12){
                font-size: 2.3rem;
             }

             @include respond(bp-11) {
                 font-size: 2rem;
             }


         }

         &__list {
             list-style: none;

             &:not(:last-child) {
                 margin-bottom: 3.5rem;

                 @include respond(bp-12){
                     margin-bottom: 2rem;
                 }

                 @include respond(bp-11){
                     margin-bottom: 2rem;
                 }
             }
         }

    }

    &__batch-pics{
        width: 45vw;

        @include respond(bp-11){
            width: 0vw;
        }

        &--modifier{
            height: 100%;
            width: 100%;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            left: 50%;
            transform: translateX(-50%);

            @include respond(bp-12){
                width: 95%;
            }

            @include respond(bp-11) {
                display: none;
                visibility: hidden;
                height: 0;
                width: 0;
            }
        }
    }
}