.carousel-box{

    &__img{
        height: 80%;
        width: 80%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        overflow: hidden;
        border-radius: 5px;
        border: $color-secondary-2 2px solid;

        @include respond(bp-12){
            width: 95%;
        }

        @include respond(bp-11) {
            width: 100%;
            height: 100%;
        }
    }
}

.glide1{
    position: relative;

    &__bullets{
        position: absolute;
        z-index: 2;
        bottom: 2em;
        left: 50%;
        display: inline-flex;
        list-style: none;
        transform: translateX(-50%);

        @include respond(bp-5){
            display: none;
            visibility: hidden;
        }
    }
}