.about-section {
    background-color: $color-white-2;
    scroll-behavior: smooth;
    padding: 10rem 0rem;

        @include respond(bp-12){
            padding: 7rem 0rem;
        }

        @include respond(bp-11){
           padding: 5rem 0rem;
        }

        @include respond(bp-5){
            padding: 6rem 0rem 2rem 0rem;
        }

         @media only screen and (max-width:25.880em) {
            padding: 6rem 0rem 4rem 0rem;
        }

        @media  only screen and (max-width:22.5em){
            padding: 3rem 0rem;
        }

}

.flash-news{
    background-image: linear-gradient(to right bottom, $color-secondary-dark-opacity, $color-secondary-light-opacity),
    url("https://res.cloudinary.com/dkdmgncru/image/upload/f_auto,q_auto/v1582154425/Beacon%20Files/Course%20Img%20%2B%20Background%20Img/News_Updates_qcbcam.jpg");
    padding: 10rem 0;
    background-size: cover;
    background-attachment: fixed;

    @include respond(bp-10){
        padding: 5rem 0;
    }

    @include respond(bp-7){
        background-attachment: scroll;
        -webkit-background-attachment: scroll;
        background-size: cover;
    }
}


.gallery{
    background-color: $color-white-2;
    scroll-behavior: smooth;
    padding: 10rem 0;

    @include respond(bp-10){
        padding: 5rem 0;
    }

    @include respond(bp-7){
        padding: 10rem 0rem;
        background-attachment: scroll;
        -webkit-background-attachment: scroll;
        background-size: cover;
    }

    @include respond(bp-5){
        padding: 5rem 0;
    }
}


.faculty-section {
    background-image: linear-gradient(to right bottom, $color-secondary-dark-opacity, $color-secondary-light-opacity),
    url("https://res.cloudinary.com/dkdmgncru/image/upload/f_auto,q_auto/v1574930796/Beacon%20Files/Other%20Imgs%2BVideos/Beacon-3_bqtr9h.jpg");
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    text-align: center;
    scroll-behavior: smooth;
    padding: 10rem 0rem;


    @include respond(bp-11) {
        padding: 10rem 0rem;
    }

    @include respond(bp-8) {
        padding: 5rem 0rem;
    }

    @include respond(bp-7){
        background-attachment: scroll;
        -webkit-background-attachment: scroll;
        background-size: cover;
    }

}
        
.course-section {
    background-color: $color-white-2;
    scroll-behavior: smooth;
    padding: 10rem 0rem;

    @include respond(bp-11){
        padding: 10rem 0rem;
    }

    @include respond(bp-8) {
        padding: 6rem 0rem;
    }

    @include respond(bp-7) {
        padding: 5rem 0rem;
    }

}


.enroll-section {
    height: 60vh;
    background-image: linear-gradient(to right, $color-secondary-dark-opacity, $color-secondary-light-opacity),
    url("https://res.cloudinary.com/dkdmgncru/image/upload/f_auto,q_auto/v1574945457/Beacon%20Files/Course%20Img%20%2B%20Background%20Img/Form-img_idxeb8.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    backface-visibility: hidden;            //FOR PROVIDING HARDWARE ACCELERATION WHILE SCROLLING
    scroll-behavior: smooth;
    padding: 15rem 0rem;
    z-index: 5;

    @include respond(bp-11) {
        padding: 10rem 0rem;
    }

    @include respond(bp-8) {
        padding: 5rem 0rem;
    }

    @include respond(bp-7) {
        background-attachment: scroll;
        -webkit-background-attachment: scroll;
    }


   
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
}

